In [1]:
import pandas as pd

data = pd.read_csv('./merge_user_loan_4.csv')
pd.set_option('display.max_columns', None)
data

,신청서 번호,한도조회 일시,금융사 번호,상품 번호,승인한도,승인금리,신청 여부(타겟),유저 번호,생년월일,성별,생성일시,신용점수,연소득,근로형태,고용형태,주거소유형태,대출희망금액,대출목적,기대출수,기대출금액,날짜,연령,개인회생 종류,근속월수
0,1748340,2022-06-07 13:05:41,7,191,42000000.0,13.6,NaN,430982.0,1996.0,1.0,2022-06-07 13:05:39,620.0,24000000.0,직장가입자(4대보험O),정규직,자가,25000000.0,대환대출,2.0,15000000.0,2022-06-07,27.0,CASE1,4
1,1748340,2022-06-07 13:05:41,25,169,24000000.0,17.9,NaN,430982.0,1996.0,1.0,2022-06-07 13:05:39,620.0,24000000.0,직장가입자(4대보험O),정규직,자가,25000000.0,대환대출,2.0,15000000.0,2022-06-07,27.0,CASE1,4
2,1748340,2022-06-07 13:05:41,2,7,24000000.0,18.5,NaN,430982.0,1996.0,1.0,2022-06-07 13:05:39,620.0,24000000.0,직장가입자(4대보험O),정규직,자가,25000000.0,대환대출,2.0,15000000.0,2022-06-07,27.0,CASE1,4
3,1748340,2022-06-07 13:05:41,4,268,29000000.0,10.8,NaN,430982.0,1996.0,1.0,2022-06-07 13:05:39,620.0,24000000.0,직장가입자(4대보험O),정규직,자가,25000000.0,대환대출,2.0,15000000.0,2022-06-07,27.0,CASE1,4
4,1748340,2022-06-07 13:05:41,11,118,5000000.0,16.4,NaN,430982.0,1996.0,1.0,2022-06-07 13:05:39,620.0,24000000.0,직장가입자(4대보험O),정규직,자가,25000000.0,대환대출,2.0,15000000.0,2022-06-07,27.0,CASE1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10455660,1428218,2022-06-03 12:01:58,62,200,3000000.0,14.8,NaN,478802.0,1965.0,1.0,2022-06-03 12:01:47,610.0,45000000.0,직장가입자(4대보험O),정규직,기타가족소유,50000000.0,대환대출,2.0,56000000.0,2022-06-03,58.0,CASE1,39
10455661,1428218,2022-06-03 12:01:49,2,7,40000000.0,11.8,NaN,478802.0,1965.0,1.0,2022-06-03 12:01:47,610.0,45000000.0,직장가입자(4대보험O),정규직,기타가족소유,50000000.0,대환대출,2.0,56000000.0,2022-06-03,58.0,CASE1,39
10455662,1428218,2022-06-03 12:01:48,32,257,15000000.0,7.2,NaN,478802.0,1965.0,1.0,2022-06-03 12:01:47,610.0,45000000.0,직장가입자(4대보험O),정규직,기타가족소유,50000000.0,대환대출,2.0,56000000.0,2022-06-03,58.0,CASE1,39
10455663,1428218,2022-06-03 12:01:48,33,110,44000000.0,13.5,NaN,478802.0,1965.0,1.0,2022-06-03 12:01:47,610.0,45000000.0,직장가입자(4대보험O),정규직,기타가족소유,50000000.0,대환대출,2.0,56000000.0,2022-06-03,58.0,CASE1,39
10455664,1428218,2022-06-03 12:01:48,5,194,44000000.0,9.7,NaN,478802.0,1965.0,1.0,2022-06-03 12:01:47,610.0,45000000.0,직장가입자(4대보험O),정규직,기타가족소유,50000000.0,대환대출,2.0,56000000.0,2022-06-03,58.0,CASE1,39

### 대출을 많이 받은 사람의 신용점수 형태

In [2]:
data

,신청서 번호,한도조회 일시,금융사 번호,상품 번호,승인한도,승인금리,신청 여부(타겟),유저 번호,생년월일,성별,생성일시,신용점수,연소득,근로형태,고용형태,주거소유형태,대출희망금액,대출목적,기대출수,기대출금액,날짜,연령,개인회생 종류,근속월수
0,1748340,2022-06-07 13:05:41,7,191,42000000.0,13.6,NaN,430982.0,1996.0,1.0,2022-06-07 13:05:39,620.0,24000000.0,직장가입자(4대보험O),정규직,자가,25000000.0,대환대출,2.0,15000000.0,2022-06-07,27.0,CASE1,4
1,1748340,2022-06-07 13:05:41,25,169,24000000.0,17.9,NaN,430982.0,1996.0,1.0,2022-06-07 13:05:39,620.0,24000000.0,직장가입자(4대보험O),정규직,자가,25000000.0,대환대출,2.0,15000000.0,2022-06-07,27.0,CASE1,4
2,1748340,2022-06-07 13:05:41,2,7,24000000.0,18.5,NaN,430982.0,1996.0,1.0,2022-06-07 13:05:39,620.0,24000000.0,직장가입자(4대보험O),정규직,자가,25000000.0,대환대출,2.0,15000000.0,2022-06-07,27.0,CASE1,4
3,1748340,2022-06-07 13:05:41,4,268,29000000.0,10.8,NaN,430982.0,1996.0,1.0,2022-06-07 13:05:39,620.0,24000000.0,직장가입자(4대보험O),정규직,자가,25000000.0,대환대출,2.0,15000000.0,2022-06-07,27.0,CASE1,4
4,1748340,2022-06-07 13:05:41,11,118,5000000.0,16.4,NaN,430982.0,1996.0,1.0,2022-06-07 13:05:39,620.0,24000000.0,직장가입자(4대보험O),정규직,자가,25000000.0,대환대출,2.0,15000000.0,2022-06-07,27.0,CASE1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10455660,1428218,2022-06-03 12:01:58,62,200,3000000.0,14.8,NaN,478802.0,1965.0,1.0,2022-06-03 12:01:47,610.0,45000000.0,직장가입자(4대보험O),정규직,기타가족소유,50000000.0,대환대출,2.0,56000000.0,2022-06-03,58.0,CASE1,39
10455661,1428218,2022-06-03 12:01:49,2,7,40000000.0,11.8,NaN,478802.0,1965.0,1.0,2022-06-03 12:01:47,610.0,45000000.0,직장가입자(4대보험O),정규직,기타가족소유,50000000.0,대환대출,2.0,56000000.0,2022-06-03,58.0,CASE1,39
10455662,1428218,2022-06-03 12:01:48,32,257,15000000.0,7.2,NaN,478802.0,1965.0,1.0,2022-06-03 12:01:47,610.0,45000000.0,직장가입자(4대보험O),정규직,기타가족소유,50000000.0,대환대출,2.0,56000000.0,2022-06-03,58.0,CASE1,39
10455663,1428218,2022-06-03 12:01:48,33,110,44000000.0,13.5,NaN,478802.0,1965.0,1.0,2022-06-03 12:01:47,610.0,45000000.0,직장가입자(4대보험O),정규직,기타가족소유,50000000.0,대환대출,2.0,56000000.0,2022-06-03,58.0,CASE1,39
10455664,1428218,2022-06-03 12:01:48,5,194,44000000.0,9.7,NaN,478802.0,1965.0,1.0,2022-06-03 12:01:47,610.0,45000000.0,직장가입자(4대보험O),정규직,기타가족소유,50000000.0,대환대출,2.0,56000000.0,2022-06-03,58.0,CASE1,39

In [2]:
data_o = data[data['신청 여부(타겟)']==1]
data_o[['유저 번호','신청 여부(타겟)']].value_counts()

유저 번호     신청 여부(타겟)
271537.0  1.0          122
570403.0  1.0          115
179191.0  1.0           95
121641.0  1.0           94
164732.0  1.0           91
                      ...
146353.0  1.0            1
636703.0  1.0            1
438732.0  1.0            1
146340.0  1.0            1
440000.0  1.0            1
Length: 127059, dtype: int64

### 대출을 가장 많이 받은 271537를 살펴봅시다

In [5]:
data[data['유저 번호']==271537]

,신청서 번호,한도조회 일시,금융사 번호,상품 번호,승인한도,승인금리,신청 여부(타겟),유저 번호,생년월일,성별,생성일시,신용점수,연소득,근로형태,고용형태,주거소유형태,대출희망금액,대출목적,기대출수,기대출금액,날짜,연령,개인회생 종류,근속월수
259639,622690,2022-04-29 20:20:18,36,60,48000000.0,15.4,1.0,271537.0,1972.0,1.0,2022-04-29 20:20:16,810.0,48000000.0,직장가입자(4대보험O),정규직,기타가족소유,500000000.0,생활비,5.0,141000000.0,2022-04-29,51.0,CASE1,24
259640,1120147,2022-04-29 19:29:41,46,49,17000000.0,14.5,0.0,271537.0,1972.0,1.0,2022-04-29 19:29:39,810.0,48000000.0,직장가입자(4대보험O),정규직,기타가족소유,500000000.0,생활비,5.0,141000000.0,2022-04-29,51.0,CASE1,24
259641,622690,2022-04-29 20:20:18,63,226,5000000.0,13.0,0.0,271537.0,1972.0,1.0,2022-04-29 20:20:16,810.0,48000000.0,직장가입자(4대보험O),정규직,기타가족소유,500000000.0,생활비,5.0,141000000.0,2022-04-29,51.0,CASE1,24
259642,1120147,2022-04-29 19:29:41,36,60,48000000.0,15.4,0.0,271537.0,1972.0,1.0,2022-04-29 19:29:39,810.0,48000000.0,직장가입자(4대보험O),정규직,기타가족소유,500000000.0,생활비,5.0,141000000.0,2022-04-29,51.0,CASE1,24
259643,877757,2022-04-29 21:01:56,10,149,44000000.0,13.9,0.0,271537.0,1972.0,1.0,2022-04-29 21:01:55,810.0,48000000.0,직장가입자(4대보험O),정규직,기타가족소유,50000000.0,생활비,5.0,141000000.0,2022-04-29,51.0,CASE1,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10392536,1347151,2022-05-09 01:34:51,36,103,8000000.0,6.8,0.0,271537.0,1972.0,1.0,2022-05-09 01:34:50,580.0,10000000.0,직장가입자(4대보험O),정규직,기타가족소유,10000000.0,생활비,5.0,141000000.0,2022-05-09,51.0,CASE1,25
10392537,1347151,2022-05-09 01:34:50,27,148,8000000.0,7.1,0.0,271537.0,1972.0,1.0,2022-05-09 01:34:50,580.0,10000000.0,직장가입자(4대보험O),정규직,기타가족소유,10000000.0,생활비,5.0,141000000.0,2022-05-09,51.0,CASE1,25
10392538,1347151,2022-05-09 01:34:50,38,134,8000000.0,7.7,0.0,271537.0,1972.0,1.0,2022-05-09 01:34:50,580.0,10000000.0,직장가입자(4대보험O),정규직,기타가족소유,10000000.0,생활비,5.0,141000000.0,2022-05-09,51.0,CASE1,25
10392539,1347151,2022-05-09 01:34:50,59,251,8000000.0,6.7,0.0,271537.0,1972.0,1.0,2022-05-09 01:34:50,580.0,10000000.0,직장가입자(4대보험O),정규직,기타가족소유,10000000.0,생활비,5.0,141000000.0,2022-05-09,51.0,CASE1,25
10392540,1347151,2022-05-09 01:34:51,33,189,8000000.0,7.9,0.0,271537.0,1972.0,1.0,2022-05-09 01:34:50,580.0,10000000.0,직장가입자(4대보험O),정규직,기타가족소유,10000000.0,생활비,5.0,141000000.0,2022-05-09,51.0,CASE1,25

In [13]:
# 각각 대출을 받았을 때, 신용점수를 살펴봅시다 !! 

data_o[data_o['유저 번호']==271537][['생성일시','기대출금액','기대출수','신용점수']].head(30)

                        생성일시        기대출금액  기대출수   신용점수
259639   2022-04-29 20:20:16  141000000.0   5.0  810.0
259646   2022-04-29 21:01:55  141000000.0   5.0  810.0
259648   2022-04-29 21:44:15  141000000.0   5.0  810.0
259661   2022-04-29 21:01:55  141000000.0   5.0  810.0
259665   2022-04-29 19:29:39  141000000.0   5.0  810.0
259667   2022-04-29 23:00:12  141000000.0   5.0  810.0
259673   2022-04-29 19:29:39  141000000.0   5.0  810.0
259675   2022-04-29 23:00:12  141000000.0   5.0  810.0
259678   2022-04-29 21:44:15  141000000.0   5.0  810.0
259680   2022-04-29 21:01:55  141000000.0   5.0  810.0
259691   2022-04-29 23:00:12  141000000.0   5.0  810.0
259692   2022-04-29 21:01:55  141000000.0   5.0  810.0
259712   2022-04-29 20:20:16  141000000.0   5.0  810.0
259718   2022-04-29 23:00:12  141000000.0   5.0  810.0
685717   2022-04-30 18:25:58  141000000.0   5.0  630.0
685721   2022-04-30 05:26:44  141000000.0   5.0  630.0
685724   2022-04-30 05:40:26  141000000.0   5.0  630.0
685725   2022-04-30 23:12:57  141000000.0   5.0  630.0
685726   2022-04-30 17:12:42  141000000.0   5.0  630.0
685731   2022-04-30 18:25:58  141000000.0   5.0  630.0
685738   2022-04-30 13:35:02  141000000.0   5.0  630.0
685742   2022-04-30 13:35:02  141000000.0   5.0  630.0
685753   2022-04-30 13:35:02  141000000.0   5.0  630.0
685754   2022-04-30 05:40:26  141000000.0   5.0  630.0
685755   2022-04-30 23:12:57  141000000.0   5.0  630.0
1276798  2022-05-05 07:34:22  141000000.0   5.0  630.0
1276800  2022-05-05 11:33:34  141000000.0   5.0  630.0
1276803  2022-05-05 22:23:53  141000000.0   5.0  630.0
1276804  2022-05-05 11:33:34  141000000.0   5.0  630.0
1276805  2022-05-05 22:23:53  141000000.0   5.0  630.0

In [3]:
# 뭐야 갑자기 630 -> 810으로 떡상한 이유는?

data_o[(data_o['생성일시']<'2022-04-29 23:00:12')&(data_o['유저 번호']==271537)].sort_values(by='한도조회 일시')

,신청서 번호,한도조회 일시,금융사 번호,상품 번호,승인한도,승인금리,신청 여부(타겟),유저 번호,생년월일,성별,생성일시,신용점수,연소득,근로형태,고용형태,주거소유형태,대출희망금액,대출목적,기대출수,기대출금액,날짜,연령,개인회생 종류,근속월수
7808097,358538,2022-03-09 00:47:58,36,157,30000000.0,19.5,1.0,271537.0,1972.0,1.0,2022-03-09 00:47:56,650.0,50000000.0,직장가입자(4대보험O),정규직,기타가족소유,5000000.0,생활비,5.0,141000000.0,2022-03-09,51.0,CASE4,23
9903186,339465,2022-03-11 17:39:25,51,247,41000000.0,13.3,1.0,271537.0,1972.0,1.0,2022-03-11 17:39:24,650.0,50000000.0,직장가입자(4대보험O),정규직,기타가족소유,10000000.0,생활비,5.0,141000000.0,2022-03-11,51.0,CASE4,23
9903196,339465,2022-03-11 17:39:26,36,157,17000000.0,19.5,1.0,271537.0,1972.0,1.0,2022-03-11 17:39:24,650.0,50000000.0,직장가입자(4대보험O),정규직,기타가족소유,10000000.0,생활비,5.0,141000000.0,2022-03-11,51.0,CASE4,23
9903194,33678,2022-03-11 18:08:41,38,223,10000000.0,17.4,1.0,271537.0,1972.0,1.0,2022-03-11 18:08:40,650.0,50000000.0,직장가입자(4대보험O),정규직,기타가족소유,15000000.0,생활비,5.0,141000000.0,2022-03-11,51.0,CASE4,23
9903200,33678,2022-03-11 18:08:43,36,157,17000000.0,19.5,1.0,271537.0,1972.0,1.0,2022-03-11 18:08:40,650.0,50000000.0,직장가입자(4대보험O),정규직,기타가족소유,15000000.0,생활비,5.0,141000000.0,2022-03-11,51.0,CASE4,23
9903184,33678,2022-03-11 18:08:43,63,226,25000000.0,15.6,1.0,271537.0,1972.0,1.0,2022-03-11 18:08:40,650.0,50000000.0,직장가입자(4대보험O),정규직,기타가족소유,15000000.0,생활비,5.0,141000000.0,2022-03-11,51.0,CASE4,23
9903189,1712417,2022-03-11 18:53:09,17,19,25000000.0,12.9,1.0,271537.0,1972.0,1.0,2022-03-11 18:53:09,650.0,49000000.0,직장가입자(4대보험O),정규직,기타가족소유,15000000.0,생활비,5.0,141000000.0,2022-03-11,51.0,CASE4,23
9903193,1712417,2022-03-11 18:53:16,47,138,37000000.0,14.0,1.0,271537.0,1972.0,1.0,2022-03-11 18:53:09,650.0,49000000.0,직장가입자(4대보험O),정규직,기타가족소유,15000000.0,생활비,5.0,141000000.0,2022-03-11,51.0,CASE4,23
8363981,1361130,2022-03-18 02:31:29,29,265,20000000.0,8.5,1.0,271537.0,1972.0,1.0,2022-03-18 02:31:29,620.0,50000000.0,직장가입자(4대보험O),정규직,기타가족소유,20000000.0,생활비,5.0,141000000.0,2022-03-18,51.0,CASE4,23
3814414,1884771,2022-03-31 21:17:47,13,262,70000000.0,13.4,1.0,271537.0,1972.0,1.0,2022-03-31 21:17:46,810.0,49000000.0,직장가입자(4대보험O),정규직,기타가족소유,20000000.0,생활비,5.0,141000000.0,2022-03-31,51.0,CASE4,23
3814411,1884771,2022-03-31 21:17:47,29,265,49000000.0,6.9,1.0,271537.0,1972.0,1.0,2022-03-31 21:17:46,810.0,49000000.0,직장가입자(4대보험O),정규직,기타가족소유,20000000.0,생활비,5.0,141000000.0,2022-03-31,51.0,CASE4,23
3814401,1884771,2022-03-31 21:17:47,38,223,10000000.0,13.3,1.0,271537.0,1972.0,1.0,2022-03-31 21:17:46,810.0,49000000.0,직장가입자(4대보험O),정규직,기타가족소유,20000000.0,생활비,5.0,141000000.0,2022-03-31,51.0,CASE4,23
3814395,1884771,2022-03-31 21:17:47,44,8,39000000.0,16.3,1.0,271537.0,1972.0,1.0,2022-03-31 21:17:46,810.0,49000000.0,직장가입자(4대보험O),정규직,기타가족소유,20000000.0,생활비,5.0,141000000.0,2022-03-31,51.0,CASE4,23
3814405,1884771,2022-03-31 21:17:47,55,25,41000000.0,11.1,1.0,271537.0,1972.0,1.0,2022-03-31 21:17:46,810.0,49000000.0,직장가입자(4대보험O),정규직,기타가족소유,20000000.0,생활비,5.0,141000000.0,2022-03-31,51.0,CASE4,23
3814398,1884771,2022-03-31 21:17:48,49,39,40000000.0,14.3,1.0,271537.0,1972.0,1.0,2022-03-31 21:17:46,810.0,49000000.0,직장가입자(4대보험O),정규직,기타가족소유,20000000.0,생활비,5.0,141000000.0,2022-03-31,51.0,CASE4,23
3814403,1884771,2022-03-31 21:17:48,63,226,49000000.0,13.0,1.0,271537.0,1972.0,1.0,2022-03-31 21:17:46,810.0,49000000.0,직장가입자(4대보험O),정규직,기타가족소유,20000000.0,생활비,5.0,141000000.0,2022-03-31,51.0,CASE4,23
3814412,1884771,2022-03-31 21:17:48,36,67,11000000.0,15.5,1.0,271537.0,1972.0,1.0,2022-03-31 21:17:46,810.0,49000000.0,직장가입자(4대보험O),정규직,기타가족소유,20000000.0,생활비,5.0,141000000.0,2022-03-31,51.0,CASE4,23
3814408,1884771,2022-03-31 21:17:53,18,78,49000000.0,6.7,1.0,271537.0,1972.0,1.0,2022-03-31 21:17:46,810.0,49000000.0,직장가입자(4대보험O),정규직,기타가족소유,20000000.0,생활비,5.0,141000000.0,2022-03-31,51.0,CASE4,23
3814415,1884771,2022-03-31 21:17:57,27,176,30000000.0,12.9,1.0,271537.0,1972.0,1.0,2022-03-31 21:17:46,810.0,49000000.0,직장가입자(4대보험O),정규직,기타가족소유,20000000.0,생활비,5.0,141000000.0,2022-03-31,51.0,CASE4,23
3814413,1884771,2022-03-31 21:18:07,8,31,49000000.0,6.4,1.0,271537.0,1972.0,1.0,2022-03-31 21:17:46,810.0,49000000.0,직장가입자(4대보험O),정규직,기타가족소유,20000000.0,생활비,5.0,141000000.0,2022-03-31,51.0,CASE4,23
7718466,726924,2022-04-01 01:19:59,55,25,41000000.0,11.1,1.0,271537.0,1972.0,1.0,2022-04-01 01:19:58,810.0,49000000.0,직장가입자(4대보험O),정규직,기타가족소유,20000000.0,생활비,5.0,141000000.0,2022-04-01,51.0,CASE4,24
7718489,726924,2022-04-01 01:19:59,49,39,49000000.0,13.3,1.0,271537.0,1972.0,1.0,2022-04-01 01:19:58,810.0,49000000.0,직장가입자(4대보험O),정규직,기타가족소유,20000000.0,생활비,5.0,141000000.0,2022-04-01,51.0,CASE4,24
7718471,726924,2022-04-01 01:19:59,29,265,49000000.0,6.9,1.0,271537.0,1972.0,1.0,2022-04-01 01:19:58,810.0,49000000.0,직장가입자(4대보험O),정규직,기타가족소유,20000000.0,생활비,5.0,141000000.0,2022-04-01,51.0,CASE4,24
7718487,726924,2022-04-01 01:20:00,36,67,11000000.0,13.2,1.0,271537.0,1972.0,1.0,2022-04-01 01:19:58,810.0,49000000.0,직장가입자(4대보험O),정규직,기타가족소유,20000000.0,생활비,5.0,141000000.0,2022-04-01,51.0,CASE4,24
7718492,726924,2022-04-01 01:20:21,8,31,49000000.0,6.4,1.0,271537.0,1972.0,1.0,2022-04-01 01:19:58,810.0,49000000.0,직장가입자(4대보험O),정규직,기타가족소유,20000000.0,생활비,5.0,141000000.0,2022-04-01,51.0,CASE4,24
2016344,1240835,2022-04-04 20:46:17,49,39,23000000.0,15.4,1.0,271537.0,1972.0,1.0,2022-04-04 20:46:15,690.0,49000000.0,직장가입자(4대보험O),정규직,기타가족소유,20000000.0,생활비,5.0,141000000.0,2022-04-04,51.0,CASE4,24
1800106,45315,2022-04-05 03:12:28,36,157,15000000.0,19.5,1.0,271537.0,1972.0,1.0,2022-04-05 03:12:26,690.0,49000000.0,직장가입자(4대보험O),정규직,기타가족소유,20000000.0,생활비,5.0,141000000.0,2022-04-05,51.0,CASE4,24
1800156,694478,2022-04-05 17:54:18,47,138,48000000.0,13.8,1.0,271537.0,1972.0,1.0,2022-04-05 17:54:08,690.0,48000000.0,직장가입자(4대보험O),정규직,기타가족소유,20000000.0,생활비,5.0,141000000.0,2022-04-05,51.0,CASE4,24
2702835,2019112,2022-04-09 18:34:20,29,265,37000000.0,7.1,1.0,271537.0,1972.0,1.0,2022-04-09 18:34:20,810.0,38000000.0,직장가입자(4대보험O),정규직,기타가족소유,30000000.0,생활비,5.0,141000000.0,2022-04-09,51.0,CASE4,24
2702853,2019112,2022-04-09 18:34:20,18,188,37000000.0,7.1,1.0,271537.0,1972.0,1.0,2022-04-09 18:34:20,810.0,38000000.0,직장가입자(4대보험O),정규직,기타가족소유,30000000.0,생활비,5.0,141000000.0,2022-04-09,51.0,CASE4,24
1909900,1894623,2022-04-24 20:47:46,29,265,47000000.0,7.2,1.0,271537.0,1972.0,1.0,2022-04-24 20:47:45,810.0,48000000.0,직장가입자(4대보험O),정규직,기타가족소유,30000000.0,생활비,5.0,141000000.0,2022-04-24,51.0,CASE1,24
8251291,359804,2022-04-25 02:45:06,36,60,48000000.0,14.4,1.0,271537.0,1972.0,1.0,2022-04-25 02:45:04,810.0,48000000.0,직장가입자(4대보험O),정규직,기타가족소유,30000000.0,생활비,5.0,141000000.0,2022-04-25,51.0,CASE1,24
259665,1120147,2022-04-29 19:29:40,50,142,51000000.0,11.2,1.0,271537.0,1972.0,1.0,2022-04-29 19:29:39,810.0,48000000.0,직장가입자(4대보험O),정규직,기타가족소유,500000000.0,생활비,5.0,141000000.0,2022-04-29,51.0,CASE1,24
259673,1120147,2022-04-29 19:29:41,7,191,48000000.0,12.4,1.0,271537.0,1972.0,1.0,2022-04-29 19:29:39,810.0,48000000.0,직장가입자(4대보험O),정규직,기타가족소유,500000000.0,생활비,5.0,141000000.0,2022-04-29,51.0,CASE1,24
259712,622690,2022-04-29 20:20:18,49,39,40000000.0,14.8,1.0,271537.0,1972.0,1.0,2022-04-29 20:20:16,810.0,48000000.0,직장가입자(4대보험O),정규직,기타가족소유,500000000.0,생활비,5.0,141000000.0,2022-04-29,51.0,CASE1,24
259639,622690,2022-04-29 20:20:18,36,60,48000000.0,15.4,1.0,271537.0,1972.0,1.0,2022-04-29 20:20:16,810.0,48000000.0,직장가입자(4대보험O),정규직,기타가족소유,500000000.0,생활비,5.0,141000000.0,2022-04-29,51.0,CASE1,24
259661,877757,2022-04-29 21:01:56,49,39,40000000.0,14.8,1.0,271537.0,1972.0,1.0,2022-04-29 21:01:55,810.0,48000000.0,직장가입자(4대보험O),정규직,기타가족소유,50000000.0,생활비,5.0,141000000.0,2022-04-29,51.0,CASE1,24
259680,877757,2022-04-29 21:01:57,21,196,5000000.0,9.5,1.0,271537.0,1972.0,1.0,2022-04-29 21:01:55,810.0,48000000.0,직장가입자(4대보험O),정규직,기타가족소유,50000000.0,생활비,5.0,141000000.0,2022-04-29,51.0,CASE1,24
259646,877757,2022-04-29 21:01:57,63,226,5000000.0,13.0,1.0,271537.0,1972.0,1.0,2022-04-29 21:01:55,810.0,48000000.0,직장가입자(4대보험O),정규직,기타가족소유,50000000.0,생활비,5.0,141000000.0,2022-04-29,51.0,CASE1,24
259692,877757,2022-04-29 21:01:57,36,60,48000000.0,15.4,1.0,271537.0,1972.0,1.0,2022-04-29 21:01:55,810.0,48000000.0,직장가입자(4대보험O),정규직,기타가족소유,50000000.0,생활비,5.0,141000000.0,2022-04-29,51.0,CASE1,24
259678,331744,2022-04-29 21:44:17,36,60,48000000.0,15.4,1.0,271537.0,1972.0,1.0,2022-04-29 21:44:15,810.0,48000000.0,직장가입자(4대보험O),정규직,기타가족소유,300000000.0,생활비,5.0,141000000.0,2022-04-29,51.0,CASE1,24
259648,331744,2022-04-29 21:44:17,49,39,40000000.0,14.8,1.0,271537.0,1972.0,1.0,2022-04-29 21:44:15,810.0,48000000.0,직장가입자(4대보험O),정규직,기타가족소유,300000000.0,생활비,5.0,141000000.0,2022-04-29,51.0,CASE1,24

In [18]:
# 음..뭐지??
# 이유를 아시는 분은 연락 주시길 바랍니다..

### 대출을 많이 받은 사람의 근로&고용형태

In [23]:
# 프리랜서인가? 싶었는데 
# top5 모두 직장가입자&정규직 이었음. 

data_o[data_o['유저 번호']==164732]


# 570403.0  1.0          115
# 179191.0  1.0           95
# 121641.0  1.0           94
# 164732.0  1.0           91

,신청서 번호,한도조회 일시,금융사 번호,상품 번호,승인한도,승인금리,신청 여부(타겟),유저 번호,생년월일,성별,생성일시,신용점수,연소득,근로형태,고용형태,주거소유형태,대출희망금액,대출목적,기대출수,기대출금액,날짜,연령,개인회생 종류,근속월수
580556,605512,2022-04-24 19:50:17,63,226,7000000.0,18.7,1.0,164732.0,1993.0,1.0,2022-04-24 19:50:15,480.0,41000000.0,직장가입자(4대보험O),정규직,전월세,12000000.0,대환대출,4.0,26000000.0,2022-04-24,30.0,CASE1,23
580557,291720,2022-04-24 09:13:17,63,226,5000000.0,18.7,1.0,164732.0,1993.0,1.0,2022-04-24 09:13:15,480.0,38000000.0,직장가입자(4대보험O),정규직,전월세,5000000.0,생활비,4.0,26000000.0,2022-04-24,30.0,CASE1,23
580558,738489,2022-04-24 13:45:46,63,226,5000000.0,18.7,1.0,164732.0,1993.0,1.0,2022-04-24 13:45:44,480.0,39000000.0,직장가입자(4대보험O),정규직,전월세,3000000.0,생활비,4.0,26000000.0,2022-04-24,30.0,CASE1,23
580559,25939,2022-04-24 19:54:07,63,226,9000000.0,18.7,1.0,164732.0,1993.0,1.0,2022-04-24 19:54:05,480.0,44000000.0,직장가입자(4대보험O),정규직,전월세,15000000.0,생활비,4.0,26000000.0,2022-04-24,30.0,CASE1,23
596626,374986,2022-04-29 09:05:58,24,229,9000000.0,9.4,1.0,164732.0,1993.0,1.0,2022-04-29 09:05:57,480.0,40000000.0,직장가입자(4대보험O),정규직,전월세,5000000.0,생활비,4.0,26000000.0,2022-04-29,30.0,CASE1,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10426404,889531,2022-05-09 16:07:58,23,236,8000000.0,15.5,1.0,164732.0,1993.0,1.0,2022-05-09 16:07:56,480.0,39000000.0,직장가입자(4대보험O),정규직,전월세,5000000.0,생활비,4.0,26000000.0,2022-05-09,30.0,CASE1,24
10426405,1224810,2022-05-09 09:08:37,63,226,6000000.0,18.7,1.0,164732.0,1993.0,1.0,2022-05-09 09:08:35,480.0,40000000.0,직장가입자(4대보험O),정규직,전월세,5000000.0,생활비,4.0,26000000.0,2022-05-09,30.0,CASE1,24
10426411,160152,2022-05-09 19:40:41,63,226,5000000.0,18.7,1.0,164732.0,1993.0,1.0,2022-05-09 19:40:38,480.0,39000000.0,직장가입자(4대보험O),정규직,전월세,5000000.0,생활비,4.0,26000000.0,2022-05-09,30.0,CASE1,24
10426415,948741,2022-05-09 21:57:34,63,226,5000000.0,18.7,1.0,164732.0,1993.0,1.0,2022-05-09 21:57:32,480.0,39000000.0,직장가입자(4대보험O),정규직,전월세,5000000.0,생활비,4.0,26000000.0,2022-05-09,30.0,CASE1,24
10426418,1224810,2022-05-09 09:08:49,23,108,8000000.0,16.1,1.0,164732.0,1993.0,1.0,2022-05-09 09:08:35,480.0,40000000.0,직장가입자(4대보험O),정규직,전월세,5000000.0,생활비,4.0,26000000.0,2022-05-09,30.0,CASE1,24

### 전체 어플 이용자의 고용형태

In [27]:
data['근로형태'].value_counts()

# 대부분 일반 직장가입자(4대보험O)

직장가입자(4대보험O)    9157920
직장가입자(4대보험X)     454136
개인사업자            376602
프리랜서             242300
전문직              222344
기타소득               2363
Name: 근로형태, dtype: int64

In [25]:
data[['근로형태','고용형태']].value_counts()

근로형태          고용형태
직장가입자(4대보험O)  정규직     8198395
              계약직      792817
직장가입자(4대보험X)  정규직      241410
프리랜서          기타       233221
개인사업자         정규직      202620
전문직           정규직      175614
개인사업자         기타       162025
직장가입자(4대보험X)  계약직      111405
직장가입자(4대보험O)  일용직       94706
              기타        72002
직장가입자(4대보험X)  기타        64407
              일용직       36914
전문직           계약직       29567
              기타        10761
개인사업자         계약직        9390
전문직           일용직        6402
프리랜서          정규직        5050
              계약직        3835
개인사업자         일용직        2567
기타소득          기타         1739
              정규직         311
              일용직         210
프리랜서          일용직         194
기타소득          계약직         103
dtype: int64

### 근로형태가 직장가입자 4대보험X와 O의 연봉 차이 -> 그냥 궁금하달까요..?

In [29]:
# 직장가입자(4대보험O)
data[data['근로형태']=='직장가입자(4대보험O)']['연소득'].mean()

46754229.890630186

In [30]:
data[data['근로형태']=='직장가입자(4대보험X)']['연소득'].mean()

35258973.082953125

In [4]:
# 약 1100 만원의 차이를 보임.. 
data_o['근로형태'].value_counts()

직장가입자(4대보험O)    316310
직장가입자(4대보험X)     45607
개인사업자            29778
프리랜서             25352
전문직               6865
기타소득               279
Name: 근로형태, dtype: int64

In [45]:
#  한꺼번에 구하기
pd.options.display.float_format = '{:.1f}'.format
data['연소득'].groupby(data['근로형태']).mean().sort_values( ascending=False)

근로형태
개인사업자          71993452.0
전문직            57995907.2
직장가입자(4대보험O)   46754229.9
프리랜서           41417511.3
직장가입자(4대보험X)   35258973.1
기타소득           30920863.3
Name: 연소득, dtype: float64

### 개인 사업자의 대출 금액 -> 원래 개인 사업하면 대출 많이 받지 않나요?

In [35]:
data[data['근로형태']=='개인사업자']['신청 여부(타겟)'].value_counts()

# 아직 미완성

0.0    250722
1.0     29778
Name: 신청 여부(타겟), dtype: int64